html,
body,
#root,
.App {
  height: 100%;
}

.App {
  background-color: black;
  height: 100%;
  max-width: 100%;
}

.TitleBar {
  width: auto;
  text-align: center;
  font-size: xx-large;
  color: white;
}

.Calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px;
  border-color: white;
  border-style: solid;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
}

.CalculatorButtons {
  width: 30%;
}

.CalculatorButton {
  min-width: 50px;
  min-height: 60px;
  width: 100%;
  font-size: xx-large;
}

.CalculatorDisplay {
  width: 99vmax;
  border: 1px;
  text-align: center;
  font-size: xx-large;
  color: white;
  height: auto;
  min-height: 2em;
  overflow-wrap: break-word;
}
